@using App.Domain.Core.CategoryService.DTOs;
@{
    ViewData["Title"] = "ShowSubCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowSubCategories</h1>

<body>
  <main class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="hero-banner">
            <img src="~/images/hero-banner.jpg" class="img-fluid" alt="Hero banner image">  
          </div>
          
          <div class="service-categories">
            <h3 class="section-title">دسته بندی خدمات</h3>
            <div class="row">
                            @foreach (var subCategory in ViewData["subCategoryEntities"] as List<SubCategoryDto>)
                            {
                    <div class="container-fluid col-md-2 mb-3">
                      <div class="card">
                        <img src="~/assets/img/subCategory/@(subCategory.Id).jpg" class="card-img-top" style="object-fit: cover; height: 200px;" alt="@subCategory.Title">  <div class="card-body">
                          <h5 class="card-title">@subCategory.Title</h5>
                          @*<p class="card-text">@subCategory.Description</p>*@
                          <a asp-controller="Home" asp-action="showServices" asp-route-Id="@subCategory.Id">مشاهده جزئیات</a>
                          ShowListOfServicesWithSubcategoryId
              </div>
             </div>
            </div>
                           }
        
      </div>
     </div>
    </div>
</body>
@*<body>
  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="hero-banner">
            <img src="~/images/hero-banner.jpg" class="img-fluid" alt="Hero banner image">
          </div>
          <div class="container-fluid">
            <div class="service-categories">
              <h3 class="section-title">دسته بندی خدمات</h3>
              <div class="row">
                @foreach (var subCategory in ViewData["subCategoryEntities"] as List<SubCategoryDto>)
                {
                  <div class="col-md-2 mb-3">
                    <div class="card">
                      <img src="~/assets/img/subCategory/@(subCategory.Id).jpg" class="card-img-top" alt="@subCategory.Title">
                      <div class="card-body">
                        <h5 class="card-title">@subCategory.Title</h5>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
*@